@media (max-width: 450px) {
	.top-comp {
		top: 60px;
	}

	.bottom-comp {
		bottom: 10%;
	}

	.ml7 {
		font-size: 2rem;
		margin-bottom: 0;
	}

	.ml13 {
		font-size: 1.42rem;
	}

	.menu {
		display: none;
	}

	.menu-phone {
		display: flex;
	}
	.top-comp > * {
		margin: 8px 0;
	}
	.bottom-comp > * {
		margin: 8px 0;
	}
	.ml3 {
		margin: 0;
		margin-top: -50px;
	}
	.ml3 ~ .content-subtitle:nth-child(-n + 5) {
		font-size: 1.7vh;
	}
	.ml15 {
		font-size: 1.5em;
		margin: 0;
	}
}

@media (max-height: 700px) {
	.ml7 {
		margin-bottom: -20px;
	}

	.top-comp {
		top: 5%;
	}

	.bottom-comp {
		bottom: 5%;
	}
}

@media (max-height: 600px) {
	.ml7 {
		margin-bottom: -30px;
	}

	.top-comp {
		top: 0;
	}

	.bottom-comp {
		bottom: 0;
	}
}

@media (max-height: 550px) {
	.ml7 {
		margin-bottom: -30px;
		margin-top: 10px;
	}
}
