@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;700&display=swap");

html,
body {
	overflow: hidden;
}

body {
	margin: 0;
	background-color: #011832;
	font-family: Jura;
	color: #fff;
}

a {
	color: #fff;
	font-size: 2vh;
	transition: 1s;
}

a:hover {
	-webkit-mask-image: linear-gradient(
		-75deg,
		rgba(255, 255, 255, 1) 30%,
		rgba(255, 255, 255, 0.1) 50%,
		rgba(255, 255, 255, 1) 70%
	);
	-webkit-mask-size: 200%;
	-webkit-mask-position: -50%;
	animation: shine 1.5s;
}

@-webkit-keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}

	to {
		-webkit-mask-position: -50%;
	}
}

.center {
	text-align: center;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(80px);
	}

	100% {
		transform: translateY(0px);
	}
}

.shape1 {
	top: 150px;
	left: 150px;
	width: 300px;
	height: 300px;
	background-image: url(img/shape1.gif);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	animation: float 15s ease-in-out infinite;
}

.shape2 {
	bottom: 100px;
	right: 150px;
	width: 500px;
	height: 500px;
	background-image: url(img/shape2.gif);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	animation: float2 12s ease-in-out infinite;
}

.menu-phone {
	display: none;
	justify-content: space-around;
	z-index: 100;
	position: absolute;
	width: 100%;
}

.menu-phone-div {
	height: 50px;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.5);
}

.menu {
	z-index: 100;
	position: absolute;
	width: 200px;
	top: 50px;
	left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	animation: float 6s ease-in-out infinite;
}

#menu-icon:hover {
	cursor: pointer;
}

#menu-icon {
	background-image: url(img/circled1.png);
	width: 50px;
	height: 50px;
	margin: auto;
	filter: invert(1);
}

.menu-div {
	height: 1px;
	width: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	margin: auto;
}

.h3-text {
	cursor: pointer;
}

.badge {
	position: absolute;
	top: -10px;
	left: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
	font-family: initial;
}

.back-dark {
	background-color: #00000090;
}

.background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	will-change: transform;
	backface-visibility: hidden;
	height: 130vh;
	position: fixed;
	width: 100%;
	transform: translateY(30vh);
	transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.background:first-child {
	background-image: url(img/1.jpg);
	transform: translateY(-15vh);
	z-index: 8;
}

.background:first-child .content-wrapper {
	transform: translateY(15vh);
}

.background:nth-child(2) {
	background-image: url(img/2.jpg);
	z-index: 7;
}

.background:nth-child(3) {
	background-image: url(img/3.jpg);
	z-index: 6;
}

.background:nth-child(4) {
	background-image: url(img/4.jpg);
	z-index: 5;
}

.background:nth-child(5) {
	background-image: url(img/5.jpg);
	z-index: 4;
}

.background:nth-child(6) {
	background-image: url(img/6.jpg);
	z-index: 3;
}

.background:nth-child(7) {
	background-image: url(img/7.jpg);
	z-index: 2;
}

.background:nth-child(8) {
	background-image: url(img/8.jpg);
	z-index: 1;
}

.content-wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-flow: column nowrap;
	color: #fff;
	font-family: Jura;
	text-transform: uppercase;
	transform: translateY(40vh);
	will-change: transform;
	backface-visibility: hidden;
	transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-title {
	font-size: 12vh;
	line-height: 1.4;
}

.content-subtitle {
	font-size: 2vh;
	z-index: 1;
	font-weight: bold;
}

.background.up-scroll {
	transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-wrapper {
	transform: translateY(15vh);
}

.background.up-scroll + .background {
	transform: translate3d(0, 30vh, 0);
}

.background.up-scroll + .background .content-wrapper {
	transform: translateY(30vh);
}

.background.down-scroll {
	transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-wrapper {
	transform: translateY(40vh);
}

.background.down-scroll + .background:not(.down-scroll) {
	transform: translate3d(0, -15vh, 0);
}

.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
	transform: translateY(15vh);
}

.tooltip {
	display: inline-block;
	position: absolute;
	text-align: left;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tooltip .top {
	line-height: 1.7;
	min-width: 200px;
	width: 500%;
	top: -20px;
	left: 50%;
	transform: translate(-50%, -100%);
	padding: 10px 20px;
	color: #ffffff;
	background-color: #444444;
	font-weight: normal;
	font-size: 13px;
	border-radius: 8px;
	position: absolute;
	z-index: 99999999;
	box-sizing: border-box;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s;
}

.tooltip:hover .top {
	visibility: visible;
	opacity: 1;
}

.tooltip .top i {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 12px;
	overflow: hidden;
}

.tooltip .top i::after {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #444444;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

@keyframes gradient1 {
	100% {
		filter: blur(5px);
	}
}

@keyframes gradient2 {
	0% {
		filter: blur(5px);
	}

	100% {
		filter: blur(0px);
	}
}

.top-comp {
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	width: 320px;
	border-left: solid;
	text-align: left;
	padding-left: 40px;
}

.top-comp > * {
	text-decoration: underline 3px transparent;
	font-size: 20px;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.4s;
}

.comp-text:hover {
	text-decoration: underline 3px #fff;
	letter-spacing: 1px;
}

.comp-text:active {
	color: black;
}

.bottom-comp {
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	width: 320px;
	border-right: solid;
	text-align: right;
	padding-right: 40px;
}

.bottom-comp > * {
	text-decoration: underline 3px transparent;
	font-size: 20px;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.4s;
}
